{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="page-header">
          <h1>Courses</h1>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Currently Available Courses</h3>
              </div>
              <div class="panel-body">
                <form method="get" autocomplete="off" role="search">
                   <!--<div class="form-group col-md-8">
                        <input id ="q" name="q" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Create New</button>-->
                </form>
                <hr>
                
                <ul>
                  {% if courses %}
                      {% for course in courses %}
                        <p>
                          <li><a href="{{course.id}}/lessons">{{ course.name }}</a></li>
                          <ul>                            
                            <li>{{course.teacher}}</li> 
                            <li>{{course.startDate}} - {{course.endDate}}</li>
                          </ul>
                        </p>
                      {% endfor %}
                    {% else %}
                    <li>No courses exist yet...</li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </div>
      </div>
      <hr>
    {% else %}
    {% endif %}
{% endblock %}
