{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="page-header">
          <h1>Courses</h1>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">              
              <div class="panel-body">
                <br/>
                {% if courses %}
                  <div class="list-group">
                    {% for course in courses %}
                      <a class="list-group-item" href="{{course.id}}/lessons">
                        <h4 class="list-group-item-heading">{{ course.name }}</h4>
                        <p class="list-group-item-text">{{course.teacher}}</p>  
                      </a>
                    {% endfor %}  
                  </div>
                {% else %}
                  <h4>No courses exist yet...</h4>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
      <hr>
    {% else %}
    {% endif %}
{% endblock %}
