{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="page-header">
          <h1>{{course.name}} - Lessons</h1>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">

            <div class="panel panel-default">
              <!--<div class="panel-heading">
                <h3 class="panel-title">Reorder and Select Elements</h3>
              </div>-->
              <div class="panel-body">
                <form method="get" autocomplete="off" role="search">
                   <div class="form-group col-md-8">
                        <input id ="q" name="q" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Create New</button>
                </form>
                <hr>
                <ul>
                  {% if lessons %}
                      {% for lesson in lessons %}
                        <p>
                          <li><a href="{{lesson.id}}">Lesson #{{lesson.position}} - {{ lesson.name }}</a></li>
                          <ul>                            
                            <li>{{lesson.description}}</li>
                          </ul>
                        </p>
                      {% endfor %}
                    {% else %}
                    <li>No lessons exist for this course...</li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </div>
      </div>

      <hr>
    {% else %}

    {% endif %}
{% endblock %}
