{% load staticfiles %}
{% load i18n %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "css/slidy.css" %}">
  <link rel="stylesheet" href="{% static "css/blueTheme.css" %}">
  <script src="{% static "js/slidy.js" %}"></script> 
  <meta name="copyright" content="Copyright &#169; 2005-2009 W3C (MIT, ERCIM, Keio)" />

</head>
<div class="background" style="display: block;">
  <img alt="" id="head-icon" src="{% static "graphics/icon-blue.png" %}">
  <object id="head-logo" title="CB logo">    
    <!-- CourseBuilder Logo goes here!!    <img alt="W3C logo" id="head-logo-fallback" src="{% static "graphics/w3c-logo-white.gif" %}">-->    
  </object>
</div>

{% if slides %}
  {% for slide in slides %}
    {% if forloop.first %}
      <div class="slide cover">
        <img class="hidden" src="{% static "graphics/bullet.png" %}" alt="">
        <img class="hidden" src="{% static "graphics/fold.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/unfold.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/fold-dim.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/nofold-dim.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/unfold-dim.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/bullet-fold.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/bullet-unfold.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/bullet-fold-dim.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/bullet-nofold-dim.gif" %}" alt="">
        <img class="hidden" src="{% static "graphics/bullet-unfold-dim.gif" %}" alt="">  
        {% autoescape off %}
          <h1> {{ slide.content }} </h1>
        {% endautoescape %}
      </div>    
    {% else %}
      <div class="slide">
        {% autoescape off %}
          {{ slide.content }}
        {% endautoescape %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No slides exist yet for this course...</p>
{% endif %} 

<div class="toolbar" tabindex="0" style="display: block;">
  <div style="float: right; text-align: right">
    <a href="localhost:8000/courses/{{course.id}}/lessons"><span>Back to Lesson View</span></a>
    <span>slide 2/20</span>
  </div>
  <div style="text-align: left">
    <span style="color: rgb(240, 240, 240);">* </span>
    <a href="http://www.w3.org/Talks/Tools/Slidy2/help/help.html" title="Navigate with mouse click, space bar, Cursor Left/Right, or Pg Up and Pg Dn. Use S and B to change font size.">help?</a> 
    <a href="javascript:w3c_slidy.toggle_table_of_contents()" title="table of contents">contents?</a> 
    <span class="copyright">Copyright © 2005-2013 W3C <sup>®</sup> (MIT, ERCIM, Keio, Beihang)</span>
  </div>
</div>

</body>
</html>
{% endblock %}