#register
{
	width: 24%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
}

#formTable
{
	margin-left: auto;
	margin-right: auto;
}

td
{
	text-align: right;
}

input
{
	margin: 7px;
}