{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Homepage" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to CourseBuilder" %}</h1>
    <p>
        {% blocktrans %}
        <b>CourseBuilder</b> is a lightweight course building webapp. Teachers can create courses. These courses have different lessons. Each of those lessons have slides, much like a power point.
        {% endblocktrans %}
    </p>
    
    {% if not user.is_authenticated %}
    <h2>Getting Started</h2>
	{% url "account_signup" as signup_url %}
	{% url "account_login" as login_url %}
	<ol> 
		<li><a href="{{ signup_url }}" class="btn btn-primary">Register</a></li>
		<li><a href="{{ login_url }}" class="btn btn-default">Log In</a></li>
		<li>Build a Course</li>
		<li>Add a lesson</li>
		<li>Add slides to that lesson</li>
	</ol>
    {% else %}
	<h2>Getting Started</h2>
	<ol> 
		<li>Build a Course</li>
		<li>Add a lesson</li>
		<li>Add slides to that lesson</li>
	</ol>
    {% endif %}
{% endblock %}
