{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}

<!-- https://github.com/pinax/pinax-theme-bootstrap/blob/master/pinax_theme_bootstrap/templates/theme_bootstrap/base.html 
-->
{% block style_base %}
  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/site-main.css" %}" rel="stylesheet">

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block head_title_base %} CourseBuilder {% endblock %}
{% block topbar %}
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars"></span>
        </button>
        {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}"><img src="{% static "images/logo.png" %}" alt="CourseBuilder" height=50 width =50 class="img-responsive"></a>{% endblock %}
    </div>
    <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <li><a href="/about">{% trans "About Us" %}</a></li>
                <li><a href="/courses">{% trans "Browse Courses" %}</a></li>
                <li><a href="/tutorial">{% trans "Slide Tutorial" %}</a></li>
            </ul>
        {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
    </div>
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav pull-left">
	<li><img src="{% static "images/logo.png" %}" alt="CourseBuilder" height=50 width =50 class="img-responsive"></li>    
	<li><a href="{% url 'slide_admin' 0 1 %}">{% trans "Slide Admin" %}</a></li>
 	<li><a href="/courses">{% trans "Browse Courses" %}</a></li>
	<li><a href="/about">{% trans "About Us" %}</a></li>
	<li><a href="/tutorial">{% trans "Slide Tutorial" %}</a></li>
</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

<!--
{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %} -->


{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript" src="http://malsup.github.com/min/jquery.form.min.js"></script>
    <script src="{% static "js/site-admin.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
        return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var display_message = function(msg, elem) {
            var msg_div = $('<div><p>'+msg+'</p></div>');
            elem.append(msg_div).fadeIn('slow').animate({opacity: 1.0}, 7000).fadeOut('slow',function() { msg_div.remove(); });
        };
});
</script>
</script>

    {% block extra_script %}{% endblock %}
{% endblock %}
