{% extends "site_base.html" %}

{% load i18n %}
{% load admin_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="admin">
        <div class="page-header">
          <h1>Administration <small>Courses</small></h1>
          <p class="lead">Go to <i>admin</i> in {{ user.username }} dropdown menu to add or edit teachers</p>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
               <!--  <h3 class="panel-title">The Form in Question</h3> -->
                <button id="newtab" class="btn btn-primary">New Course</button>
                <button id="updateOrder" class="btn btn-secondary" data-url="{% url 'course_admin_reorder' %}">Update Order</button>
              </div>
              <div class="panel-body">
                <div class="container-fluid">
                    <ul id="admin-content-tabs" class="nav nav-tabs marginBottom">

                  {% if courses %}
                    {% for course in courses %}
                  
                  <li class={% if forloop.counter == 1 %}"active"{% else %}""{% endif %}><a href="#tab-{{ forloop.counter }}" data-subject="{{ course.pk }}"><button class="close closeTab" data-url="{% url 'course_admin_delete' course.pk %}" type="button">×</button><span>{{ course.name }}</span></a></li>
                    {% endfor %}
                  {% endif %}
                    </ul>
                    <div class="row">
                      <div class="tab-content">
                       {% if forms %}
                        {% for tabForm, key in forms %}

                        <div class={% if forloop.first %}"tab-pane active"{% else %}"tab-pane"{% endif %} id="tab-{{ forloop.counter }}">

                            <form id="{{tabForm.prefix}}" class="form-horizontal" role="form" method="post" action="{% url 'course_admin_update' key.0 tabForm.prefix %}">
                              {{ tabForm.non_field_errors }}
                              {% csrf_token %}
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{tabForm.teacher.auto_id}}">{{ tabForm.teacher.name|capfirst }}:<span class="field-required">*</span>:</label> 
                                <div class="col-sm-6">
                                                         
                                  <select id="{{tabForm.teacher.auto_id}}" class="form-control" name="{{ tabForm.teacher.html_name }}">
                                   {% for id, name in tabForm.teacher.field.choices %}
                                    {% if id ==  key.1 %}
                                     <option value="{{ id }}" selected="selected">{{ name }}</option>
                                     {% else %}
                                      <option value="{{ id }}">{{ name }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    </select>
                                    <span class="text-center text-danger form-error"></span>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{tabForm.name.auto_id}}">{{ tabForm.name.name|capfirst }}:<span class="field-required">*</span>:</label> 
                                <div class="col-sm-6">
                                  <input  id="{{ tabForm.name.auto_id }}" class="form-control tab-subject" name="{{ tabForm.name.html_name }}" maxlength="50" placeholder="Johnathan" type="text" value="{{ tabForm.name.value|default_if_none:"" }}">
                                  <span class="text-center text-danger form-error"></span>
                                </div>
                              </div>

                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                 <a href="{% url 'lesson_admin' key.0 %}" class="btn btn-success">{% trans "View Lessons" %}</a>
                                <button type="submit" class="btn btn-danger">{% trans "Update Course" %}</button>


                                
                                  <span class="form_ajax" style="display:none;">
                                      <i class="fa fa-check-circle"></i> Success!
                                  </span>
                                  <span class="form_ajax_error" style="display:none;">
                                      <i class="fa fa-exclamation-circle"></i> An Error Occured!
                                  </span>
                                  <span class="loading" style="display:none;">
                                      <i class="fa fa-refresh fa-spin"></i> Loading...
                                  </span>
                                </div>
                              </div>
                              </form>
                            </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
      </div>

    </div>
      <hr>

      <div class="hidden" id="emptyform">          
        <form id="new" class="form-horizontal" role="form" method="post" action="{% url 'course_admin_update' 0 emptyForm.prefix %}">
          {% csrf_token %}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="teacher">Teacher:<span class="field-required">*</span>:</label> 
            <div class="col-sm-6">

              <select id="id_teacher" class="form-control" name="teacher">
                 {% for id, name in emptyForm.teacher.field.choices %}
                    <option value="{{ id }}">{{ name }}</option>
                  {% endfor %}
                </select>
               <span class="text-center text-danger form-error"></span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="id_name">Name:<span class="field-required">*</span>:</label> 
            <div class="col-sm-6">
              <input id="id_name" class="form-control tab-subject" name="name" maxlength="50" placeholder="History" type="text" value="{{ emptyForm.name.value|default_if_none:"" }}">
               <span class="text-center text-danger form-error"></span>
            </div>
          </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-primary">{% trans "New Course" %}</button>
            <a href="{% url 'lesson_admin' 0 %}" class="hidden newContentButton btn btn-success">{% trans "View Lessons" %}</a>
            <button type="submit" class="hidden newContentButton btn btn-danger">Update Course</button>
              <span class="form_ajax" style="display:none;">
                  <i class="fa fa-check-circle"></i> Success!
              </span>
              <span class="form_ajax_error" style="display:none;">
                  <i class="fa fa-exclamation-circle"></i> Check Errors!
              </span>
              <span class="loading" style="display:none;">
                  <i class="fa fa-refresh fa-spin"></i> Loading...
              </span>
            </div>
          </div>

          </form>
      </div>
    </div>
    {% else %}

    {% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">

</script>
{% endblock %}