{% extends "site_base.html" %}

{% load i18n %}
{% load admin_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="admin">
        <div class="page-header">
          <h1>Administration <small>{{ page_course_name }} &rarr; {{ page_lesson_name }} &rarr; Slides</small></h1>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
               <!--  <h3 class="panel-title">The Form in Question</h3> -->
                <button id="newtab" class="btn btn-primary">New Slide</button>
                <button id="updateOrder" class="btn btn-secondary" data-url="{% url 'slide_admin_reorder' %}">Update Order</button>
              </div>
              <div class="panel-body">
                <div class="container-fluid">
                    <ul id="admin-content-tabs" class="nav nav-tabs marginBottom">

                  {% if slides %}
                    {% for slide in slides %}
                  
                  <li class={% if forloop.counter == 1 %}"active"{% else %}""{% endif %}><a href="#tab-{{ forloop.counter }}" data-subject="{{ slide.pk }}"><button class="close closeTab" data-url="{% url 'slide_admin_delete' slide.pk %}" type="button">×</button><span>{{ slide.name }}</span></a></li>
                    {% endfor %}
                  {% endif %}
                    </ul>
                    <div class="row">
                      <div class="tab-content">
                       {% if forms %}
                        {% for tabForm, key in forms %}

                        <div class={% if forloop.first %}"tab-pane active"{% else %}"tab-pane"{% endif %} id="tab-{{ forloop.counter }}">

                            <form id="{{tabForm.prefix}}" class="form-horizontal" role="form" method="post" action="{% url 'slide_admin_update' key tabForm.prefix %}">
                              {{ tabForm.non_field_errors }}
                              {% csrf_token %}
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{tabForm.lesson.auto_id}}">{{ tabForm.lesson.name|capfirst }}<span class="field-required">*</span>:</label> 
                                <div class="col-sm-6">
                        
                                  <select id="{{tabForm.lesson.auto_id}}" class="form-control" name="{{ tabForm.lesson.html_name }}">
                                   {% for id, name in tabForm.lesson.field.choices %}
                                    {% if name ==  page_lesson_name %}
                                     <option value="{{ id }}" selected="selected">{{ name }}</option>
                                     {% else %}
                                      <option value="{{ id }}">{{ name }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    </select>
                                    <span class="text-center text-danger"></span>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{tabForm.name.auto_id}}">{{ tabForm.name.name|capfirst }}<span class="field-required">*</span>:</label> 
                                <div class="col-sm-6">
                                  <input  id="{{ tabForm.name.auto_id }}" class="form-control tab-subject" name="{{ tabForm.name.html_name }}" maxlength="255" placeholder="Johnathan" type="text" value="{{ tabForm.name.value|default_if_none:"" }}">
                                  <span class="text-center text-danger"></span>
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{tabForm.content.auto_id}}">{{ tabForm.content.name|capfirst }}:</label> 
                                <div class="col-sm-6">
                                  <textarea id="{{ tabForm.content.auto_id }}" class="form-control" name="{{ tabForm.content.html_name }}" cols="40" rows="10" placeholder="Johnathan">{{ tabForm.content.value|default_if_none:"" }}</textarea>
                                  <span class="text-center text-danger"></span>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">

                                <div class="loading" style="display:none;">
                                    <span id="load_text">loading...</span>
                                </div>
                                <div class="form_ajax" style="display:none;">
                                    <span>Form submit successfully.</span>
                                </div>
                                <div class="form_ajax_error" style="display:none;">
                                    <span>Can not submit data due to errors.</span>
                                </div>
    
                                <button type="submit" class="btn btn-danger">{% trans "Update Slide" %}</button>
                                <a href="#" class="btn btn-success">{% trans "View SlideShow" %}</a>
                                </div>
                              </div>
                              </form>
                            </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
      </div>

    </div>
      <hr>
      <div class="hidden" id="emptyform">          
        <form id="new" class="form-horizontal" role="form" method="post" action="{% url 'slide_admin_update' 0 emptyForm.prefix %}">
          {% csrf_token %}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="id_lesson">Lesson<span class="field-required">*</span>:</label> 
            <div class="col-sm-6">
              <select id="id_lesson" class="form-control" name="lesson">
                 {% for id, name in emptyForm.lesson.field.choices %}
                  {% if name ==  page_lesson_name %}
                   <option value="{{ id }}" selected="selected">{{ name }}</option>
                   {% else %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="id_name">Name<span class="field-required">*</span>:</label> 
            <div class="col-sm-6">
              <input id="id_name" class="form-control tab-subject" name="name" maxlength="255" placeholder="History" type="text" value="{{ emptyForm.name.value|default_if_none:"" }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="id_content">Description:</label> 
            <div class="col-sm-6">
              <textarea id="id_content" class="form-control" name="content" maxlength="1000" placeholder="History"></textarea> 
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <div class="loading" style="display:none;">
                  <span class="load_text">loading...</span>
              </div>
              <div class="form_ajax" style="display:none;">
                  <span>Form submit successfully.</span>
              </div>
              <div class="form_ajax_error" style="display:none;">
                  <span>Can not submit data due to errors.</span>
              </div>
              <button type="submit" class="btn btn-primary">{% trans "New Slide" %}</button>
            </div>
          </div>

          </form>
      </div>
    </div>
    {% else %}

    {% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">

</script>
{% endblock %}